@import "tailwindcss";

:root {
  --foreground-rgb: 15, 23, 42;
  /* slate-900 */
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --font-geist-sans: "Geist", "Inter", sans-serif;
  --font-geist-mono: "Geist Mono", monospace;
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
  font-family: var(--font-geist-sans);
}

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}